:root{
    --DarkGreen:#659287;
    --MidGreen:#88BDA4;
    --Green:#B1D3B9;
    --LightGreen:#E6F2DD;
    --Black:#1A312C;
    --DarkBlue-Green:#428475;
    --Blue-Grren:#89D7B7;
    --White:#FFF4E1;
}

body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, var(--DarkBlue-Green) 0%, var(--Black) 100%);
}